<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Cost</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let books of allbooks">
      <td>{{books.id}}</td>
      <td>{{books.title}}</td>
      <td>{{books.author}}</td>
    </tr>
  </tbody>
</table>